<div class="login-box">

    <h2>Login</h2>

    <% if flash[:error] %>
        <div class="flash"><%= flash[:error] %></div>
    <% end %>

    <%= form_tag login_path do %>
        <%= email_field_tag( :email, nil, placeholder: 'Email' ) %>
        <%= password_field_tag( :password, nil, placeholder: 'Password' ) %>
        <%= submit_tag 'Login' %>
    <% end %>

</div>