<% if flash[:notice] %>
    <div class="flash"><%= flash[:notice] %></div>
<% end %>

<h2><%= @current_user.name %>'s profile</h2>

<%= link_to 'Edit', edit_user_path( @current_user.id ) %>
|
<%= link_to 'Delete', user_path( @current_user.id ), method: 'delete' %>

<% if @current_user.admin? %>
    |
    <%= link_to 'Index of all users', users_path %>
<% end %>

<p>
    <strong>Name</strong>: <%= @current_user.name %>
    <br>
    <strong>Email</strong>: <%= @current_user.email %>
    <br>
    <strong>Bio</strong>: <%= @current_user.bio %>
    <br>
    <%= link_to 'Add a new photo', new_photo_path %>
</p>

<div>
    Your photo gallery:
    <ul>
    <% @current_user.photos.each do |p| %>
        <li>
        <%= cl_image_tag( p.url ) %>
        </li>
    <% end %>
    </ul>
</div>

<p>
    <strong>All matches</strong>:
    <ul>
    <% @current_user.all_matches.each do |match| %>
        <li>
        <%= link_to match.name, profile_path( match.id ) %>
        </li>
    <% end %>
    </ul>
</p>