<% if flash[:notice] %>
    <strong><%= flash[:notice] %></strong>
<% end %>

<h2><%= @current_user.name %>'s profile</h2>

<%= link_to 'Edit', edit_user_path( @current_user.id ) %>
|
<%= link_to 'Delete', user_path( @current_user.id ), method: 'delete' %>

<% if @current_user.admin? %>
    |
    <%= link_to 'Index of all users', users_path %>
<% end %>

<p>
    <strong>Name</strong>: <%= @current_user.name %>
    <br>
    <strong>Email</strong>: <%= @current_user.email %>
    <br>
    <strong>Bio</strong>: <%= @current_user.bio %>
    <br>
    <%= link_to 'All photos', photos_path %>
    <br>
    <%= link_to 'Add a new photo', new_photo_path %>
</p>