
<div class="masthead">
    <div class="centered">
        <h2 class="dashboard">This is your dashboard.</h2>
    </div>
</div>

<main class="main-area">
<div class="centered">
<section class="cards">

<% @users.each do |u| %>

    <article class="card">
        <a href="/users/<%= u.id %>">
            <figure class="thumbnail">
                <% if u.photos.any? %>
                    <%= image_tag( u.photos.first.url ) %>
                <% else %>
                    <p>This user hasn't uploaded any photos.</p>
                <% end %>
            </figure>
            <div class="card-content">
                <h4><%= u.name %></h4>
                <p><%= u.bio %></p>
                <p>
                    <% if @current_user.matches_with?(u) %>
                        <%= link_to "Your chat thread with #{u.name}", messages_with_path(u.id) %>
                    <% elsif Match.where( liker: @current_user, liked: u ).any? %>
                        You have liked <%= u.name %>.
                    <% elsif Match.where( liker: u, liked: @current_user ).any? %>
                        <%= button_to '💓', create_match_path(u.id) %>
                    <% else %>
                        <%= button_to '💓', create_match_path(u.id) %>
                    <% end %>
                </p>
            </div>
        </a>
    </article>

<% end %>
</section>
</div>
</main>