<!DOCTYPE html>
<html>
  <head>
    <title>W H I S K R</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <%= favicon_link_tag asset_path('favicon.png') %>
  </head>

  <body>
    <div class="nav">

      <div class="left-nav">
        <%= link_to 'Back to Home', root_path %>
      </div>
          
      <div class="right-nav">
        <% if @current_user.present? %>
          Welcome <%= @current_user.name %>
          <% if @current_user.admin? %>
            (admin)
          <% end %>
          |
          <%= link_to 'My profile', user_path( @current_user.id ) %>
          |
          <%= link_to 'Logout', login_path, method: 'delete' %>
        <% else %>
          <%= link_to 'Login', login_path %>
          |
          <%= link_to 'Sign Up', new_user_path %>
        <% end %>
      </div>
          
    </div>

    <div class="yield">
      <%= yield %>
    </div>

  </body>
</html>
