<!DOCTYPE html>
<html>
  <head>
    <title>W H I S K R</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <%= link_to 'Index', users_path %>
    <%= link_to 'Add', new_user_path %>

    <%= yield %>

  </body>
</html>
